﻿@model CMS.Dashboard.Models.RolePermissionsModel
@{
    var menus = Model.Menus;
    var menuChilds = Model.MenuChilds;
    foreach (var item in menuChilds)
    {
        var childs = menus.Where(x => x.Parent == item.Id).ToList();
        var isChecked = Model.MenuSelecteds.Any(x => x.Id == item.Id);
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
        <li style="margin-left: 25px;">
            <div class="checkbox checkbox-primary">
                <input type="checkbox" name="Permissions[@item.Id]" id="Permissions[@item.Id]" checked="@isChecked">
                <label for="Permissions[@item.Id]">@item.Name</label>
            </div>
        </li>
        if (childs != null && childs.Any())
        {
            <ul>
                @await Html.PartialAsync("_PermissionPartial", new CMS.Dashboard.Models.RolePermissionsModel { Menus = menus, MenuChilds = childs, MenuSelecteds = Model.MenuSelecteds })
            </ul>
        }
    }
}
