﻿@model CMS.Dashboard.Models.RolePermissionsModel
<style>
    * {
        margin: 0;
        padding: 0;
    }

    #page-wrap {
        margin: auto 0;
    }


    ul {
        list-style: none;
    }

    .is-collapse {
        position: relative;
    }

    .plus-minus-toggle {
        cursor: pointer;
        height: 16px;
        position: relative;
        width: 16px;
        float: right;
        margin-left: 7px;
    }

        .plus-minus-toggle.collapsed:before {
            transform: rotate(180deg);
        }

        .plus-minus-toggle:before, .plus-minus-toggle:after {
            background: #2d353c;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            top: 7px;
            width: 10px;
            transition: transform 500ms ease;
        }

        .plus-minus-toggle.collapsed:after {
            transform: rotate(90deg);
        }

        .plus-minus-toggle:after {
            transform-origin: center;
        }
</style>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<link rel="stylesheet" type="text/css" href="~/css/checkbox-radio-btn.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<!-- begin page-header -->
@*<h1 class="page-header">Create Agent Commission <small style="display: block; margin-top: 5px;"></small></h1>*@
<!-- end page-header -->
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <div class="robo-form-container robo-form-layout-flat">
            <form asp-controller="Role" asp-action="Save" method="post" role="form" novalidate="novalidate">
                <input id="Id" name="Id" type="hidden" value="@Model.Id">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-md-6 col-xs-6">
                                <label for="Name">Tên vai trò :<em>*</em></label>
                                <input class="form-control" data-val="true" required="required" data-val-required="Làm ơn nhập tên vai trò." type="text" id="Name" name="Name" value="@Model.Name" aria-required="true">
                                <span data-valmsg-for="Name" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-xs-12">
                                <div class="special-checkbox checkbox checkbox-primary">
                                    <input name="CheckAll" id="checkall" type="checkbox" />
                                    <label for="checkall">Chọn tất cả</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-xs-12">
                                <div id="page-wrap">
                                    <ul class="treeview">
                                        @{
                                            var parents = Model.Menus.Where(s => s.Parent == 0);

                                            foreach (var item in parents)
                                            {
                                                var childs = Model.Menus.Where(s => s.Parent == item.Id);
                                                var isChecked = Model.MenuSelecteds.Any(x => x.Id == item.Id);

                                                <li>
                                                    @if (childs != null && childs.Any())
                                                    {

                                                        <div class="checkbox checkbox-primary is-collapse">
                                                            <input type="checkbox" name="Permissions[@item.Id]" id="Permissions[@item.Id]" checked="@isChecked">
                                                            <label for="Permissions[@item.Id]" style="text-decoration: underline;">
                                                                @item.Name
                                                                <p class="plus-minus-toggle collapsed"></p>
                                                            </label>

                                                        </div>
                                                        <ul class="hide">
                                                            @await Html.PartialAsync("_PermissionPartial", new CMS.Dashboard.Models.RolePermissionsModel { Menus = Model.Menus, MenuChilds = childs, MenuSelecteds = Model.MenuSelecteds })
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        <div class="checkbox checkbox-primary">
                                                            <input type="checkbox" name="Permissions[@item.Id]" id="Permissions[@item.Id]" checked="@isChecked">
                                                            <label for="Permissions[@item.Id]">@item.Name</label>
                                                        </div>
                                                    }
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row row-actions">
                            <div class="col-sm-12">
                                <button class="btn-primary btn" name="Save" type="submit">Lưu</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn-default btn" name="Cancel" href="@Url.Action("Index","Role")">Trở lại</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="blockUI" style="display:none; z-index: 100; border: none; margin: 0; padding: 0; width: 100%; height: 100%; top: 0; left: 0; background-color: #000000; opacity: 0.05; filter: alpha(opacity = 5); cursor: wait; position: absolute;"></div><div class="blockUIMsg" style="display:none;">Processing...</div>
        </div>
    </div>
</div>
<script>
    $(function () {
        inputCheckedAll();
        // If all are checked => section "CheckAll" will be set status is checked
        function inputCheckedAll() {
            var listFlag = [];
            $(".treeview input[type='checkbox']").each(function () {
                listFlag.push($(this).prop("checked"));
            })
            if (!listFlag.includes(false)) {
                $("#checkall").prop("checked", true);
            }
        }
        //End

        //set check/uncheck all
        $("#checkall").on("click", function () {
            var checked = $("#checkall").prop("checked");
            $(".treeview input[type='checkbox']").prop('checked', checked);
        });

        $('input[type="checkbox"]').change(checkboxChanged);
        function checkboxChanged() {
            var $this = $(this),
                checked = $this.prop("checked"),
                container = $this.parent().parent();

            container.find('input[type="checkbox"]')
                .prop({
                    indeterminate: false,
                    checked: checked
                })
                .siblings('label')

            checkSiblings(container, checked);
        }

        function checkSiblings($el, checked) {
            var parent = $el.parent().parent(),
                all = true,
                indeterminate = false;

            $el.siblings().each(function () {
                return all = ($($el).children('input[type="checkbox"]').prop("checked") === checked);
            });

            if (all && checked) {
                parent.children('input[type="checkbox"]')
                    .prop({
                        indeterminate: false,
                        checked: checked
                    })
                    .siblings('label')

                checkSiblings(parent, checked);
            }
            else if (all && !checked) {
                indeterminate = parent.find('input[type="checkbox"]:checked').length > 0;
                parent.children('input[type="checkbox"]')
                    .prop("checked", checked)
                    .prop("indeterminate", indeterminate)
                    .siblings('label')

                checkSiblings(parent, checked);
            }
            else {
                $el.parents("li").children('input[type="checkbox"]')
                    .prop({
                        indeterminate: true,
                        checked: false
                    })
                    .siblings('label')
            }
        }
        $('.plus-minus-toggle').on('click', function (e) {
            e.preventDefault();
            $(this).toggleClass('collapsed');
            var isShowing = $(this).attr("class").includes("collapsed");
            if (isShowing)
                $(this).parent().parent().parent().children("ul").addClass("hide");
            else
                $(this).parent().parent().parent().children("ul").removeClass("hide");
        });

    });
</script>
