﻿@model CMS.Dashboard.Models.WorkflowModel
@using System.Globalization
@using CMS.Core.Extensions
@using CMS.Shared.Data.Domain
@{
    var groupManagers = EnumExtensions.GetValues<GroupManagement>();
    var workflowTypes = EnumExtensions.GetValues<UserType>();
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<style>
    * {
        box-sizing: border-box;
    }

    .columns {
        float: left;
        width: 25%;
        padding: 8px;
    }

    .price {
        list-style-type: none;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

        .price:hover {
            box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
        }

        .price .header {
            background-color: #1a2229;
            color: white;
            font-size: 25px;
        }

        .price li {
            border-bottom: 1px solid #eee;
            padding: 20px;
            text-align: center;
        }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }



    .card-container {
        margin: 5px;
        border: 1px solid #f2f2f2;
        border-radius: 6px;
        padding: 0 !important;
        background: #fff;
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    }

    .card {
        height: 100%;
    }

    .card-body {
        padding: 15px;
    }

    .card-footer {
        padding: 15px;
        border-top: 1px solid rgb(226, 231, 235);
    }

    .wf-container {
        display: inline-flex;
        text-align: center !important;
        margin-bottom: 30px;
        width: 100%;
        flex-wrap: wrap;
    }

    /*.select2-container {
        display: inline;
    }

    .select2-selection--multiple {
        border: 1px solid #e2e7eb !important;
        border-radius: unset !important;
    }

    .select2-search {
        padding: 5px !important;
    }*/

    .group-manager {
        min-height: 42px;
        font-size: 13px;
        color: #757575;
    }

    .remove-step {
        right: 0px;
        position: absolute;
        top: 0;
        padding: 10px;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
    }

    #quick-add-workflow {
        padding: 10px 29px;
    }

    .section-step {
        border-left: 1px solid #e2e7eb;
        float: right;
        padding-left: 25px !important;
        min-height: 217px;
    }

    .row-actions {
        padding: 10px 0px;
        border-top: 1px solid #e2e7eb
    }


    .select2-container {
        width: 100%;
    }

    .select2-results__option {
        padding-right: 20px;
        vertical-align: middle;
    }

        .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;
        }

        .select2-results__option[aria-selected=true]:before {
            font-family: fontAwesome;
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
        }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #fff;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #eaeaeb;
        color: #272727;
    }

    .select2-container--default .select2-selection--multiple {
        margin-bottom: 10px;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-radius: 4px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #f77750;
        border-width: 2px;
    }

    .select2-container--default .select2-selection--multiple {
        border-width: 2px;
    }

    .select2-container--open .select2-dropdown--below {
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .select2-selection .select2-selection--multiple:after {
        content: 'hhghgh';
    }
    /* select with icons badges single*/
    .select-icon .select2-selection__placeholder .badge {
        display: none;
    }

    .select-icon .placeholder {
        display: none;
    }

    .select-icon .select2-results__option:before,
    .select-icon .select2-results__option[aria-selected=true]:before {
        display: none !important;
        /* content: "" !important; */
    }

    .select-icon .select2-search--dropdown {
        display: none;
    }
</style>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <div class="robo-form-container robo-form-layout-flat">
            <form asp-controller="Workflow" asp-action="Save" method="post" role="form" novalidate="novalidate">
                <div class="row">
                    <div class="col-md-3 section-wf">
                        <div class="row">
                            <div class="form-group col-md-12 col-xs-12">
                                <label for="Name">Tên quy trình :<em>*</em></label>
                                <input class="form-control" required="required" type="text" id="Name" name="Name" value="@Model.Workflow?.Name" aria-required="true">
                            </div>
                            <div class="form-group col-md-12 col-xs-12">
                                <label for="Name">Cơ sở :<em>*</em></label>
                                <select class="form-control" name="CampusId" id="campusId">
                                    @foreach (var item in Model.Campuses)
                                    {
                                        <option value="@item.Id" selected="@(item.Id == Model.Workflow?.CampusId)">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-12 col-xs-12">
                                <label for="Name">Mẫu văn bản :<em>*</em></label>
                                <select class="form-control" name="FormTemplateId">
                                    @foreach (var item in Model.FormTemplates)
                                    {
                                        <option value="@item.Id" selected="@(item.Id == Model.Workflow?.FormTemplateId)">@item.TemplateName</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group col-md-12 col-xs-12">
                                <label for="Name">Quy trình cho :<em>*</em></label>
                                <select class="form-control" name="WorkflowType">

                                    @foreach (var item in workflowTypes)
                                    {
                                        <option value="@item" selected="@(item == Model.WorkflowType)">@item.GetDisplayName()</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 section-step">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-info" id="quick-add-workflow" type="button" data-target="#container-workflow">
                                    <span>Thêm bước</span>
                                    @* <i class="fa fa-plus"></i> *@
                                </button>
                            </div>
                        </div>
                        <div class="row wf-container" id="container-workflow">
                            @if (!Model.WorkflowSteps.IsNullOrEmpty())
                            {
                                var index = 1;
                                foreach (var step in Model.SelectedUsers)
                                {
                                    <div id="step-@index" class="col-lg-3 col-xs-12 card-container">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="fa fa-remove remove-step"></i>
                                                <h4 class="card-title header">@($"Bước {step.Key}")</h4>
                                            </div>
                                            <div class="card-footer">
                                                <div class="form-group">

                                                    <select class="form-control group-manager" disabled="@(step.Value.Key.Equals("User") ? "disabled" : "")">
                                                        @if (step.Value.Key.Equals("Group"))
                                                        {
                                                            <option value="0">Theo quản lý</option>
                                                            @foreach (var item in groupManagers)
                                                            {
                                                                var manageSelected = EnumExtensions.Parse<GroupManagement>(step.Value.Value.ToString(), true).Equals(item);
                                                                <option value="@((short) item)" selected="@manageSelected">@(item.GetDisplayName())</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group">Hoặc</div>
                                                <div class="form-group">
                                                    <select class="form-control workflow-user-step" multiple="multiple">
                                                        @if (step.Value.Key.Equals("User"))
                                                        {
                                                            foreach (var item in Model.Users)
                                                            {
                                                                var userSelected = step.Value.Value.ToString()?.Split(",").ToArray();
                                                                <option value="@item.Id" selected="@userSelected.Contains(item.Id.ToString())">@item.FullName</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    index++;
                                }
                            }
                        </div>

                    </div>
                </div>
                <div class="row row-actions">
                    <div class="col-sm-12">
                        <input id="Id" name="Id" type="hidden" value="@Model.Workflow?.Id">
                        <button class="btn-primary btn" name="Save" type="submit">Lưu</button>
                        <a class="btn-default btn" name="Cancel" href="@Url.Action("Index", "Workflow")">Trở lại</a>
                    </div>
                </div>
            </form>
            <div class="blockUI" style="display:none; z-index: 100; border: none; margin: 0; padding: 0; width: 100%; height: 100%; top: 0; left: 0; background-color: #000000; opacity: 0.05; filter: alpha(opacity = 5); cursor: wait; position: absolute;"></div>
            <div class="blockUIMsg" style="display:none;">Processing...</div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        String.prototype.format = String.prototype.f = function () {
            var s = this, i = arguments.length;
            while (i--) {
                s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
            }
            return s;
        };
        jQuery(function ($) {
            $(".workflow-user-step").select2({
                closeOnSelect: false,
                placeholder: "Theo người dùng",
                allowHtml: true,
                allowClear: true,
                tags: true
            });

            orderStep(false);

            $(document).on('click', '#quick-add-workflow', function () {
                var target = $(this).attr('data-target');
                $(target).append($('#workflow-template').html());
                orderStep(true);
                $(".workflow-user-step").select2({
                    closeOnSelect: false,
                    placeholder: "Theo người dùng",
                    allowHtml: true,
                    allowClear: true,
                    tags: true
                });
            });

            $(document).on('click', '.remove-step', function () {
                $(this).parent().parent().parent().remove();
                orderStep(true);
            });

            $('#campusId').on('change', function () {
                orderStep(true);
            });

            function orderStep(load) {
                $('#container-workflow').find('.card-container').each(function (key, value) {
                    key++;
                    $(value).attr('id', `step-${key}`);
                    $(value).find('.header').text("Bước " + key);
                    var uniqueId = new Date().getTime();
                    $(value).find('.group-manager').attr('id', 'group-id-{0}'.f(uniqueId));
                    $(value).find('.group-manager').attr('name', 'GroupManage[{0}]'.f(key));
                    $(value).find('.group-manager').attr('data-target', '#user-id-{0}'.f(uniqueId));
                    $(value).find('.workflow-user-step').attr('id', 'user-id-{0}'.f(uniqueId));
                    $(value).find('.workflow-user-step').attr('name', 'UserIds[{0}]'.f(key));
                    $(value).find('.workflow-user-step').attr('data-target', '#group-id-{0}'.f(uniqueId));
                    if (load && load === true) {
                        InitLoadUser(value);
                    }
                });

                $('.group-manager').on('change', function (e) {
                    e.preventDefault();
                    var target = $(this).attr('data-target');
                    if (this.value && this.value > 0) {
                        $(target).prop('disabled', true).val('');
                    } else {
                        $(target).prop('disabled', false).val('');
                    }
                });

                $('.workflow-user-step').on('change', function (e) {
                    e.preventDefault();
                    var target = $(this).attr('data-target');
                    if (this.value && this.value > 0) {
                        $(target).prop('disabled', true).val('');
                    } else {
                        $(target).prop('disabled', false).val('');
                    }
                });
            };

            function InitLoadUser(value) {
                $.post("/user/get-by-campus/" + $('#campusId').val())
                    .done(function (data) {
                        if (data !== null && data.length > 0) {
                            emptyUserSelect(value);
                            $.each(data, function (i, item) {
                                $(value).find('.workflow-user-step').append($('<option>', {
                                    value: item.value,
                                    text: item.text
                                }));
                            });
                            //$(value).find('.workflow-user-step').chosen();
                        }
                        else {
                            emptyUserSelect(value);
                        }
                    });
            }

            function emptyUserSelect(value) {
                if (value !== null) {
                    $(value).find('.workflow-user-step').find('option')
                        .remove()
                        .end();
                }
            }


        });
    </script>
    <script id="workflow-template" type="text/x-custom-template">
        <div class="col-lg-3 col-xs-12 card-container">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-remove remove-step"></i>
                    <h4 class="card-title header">Bước</h4>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <select class="form-control group-manager">
                            <option value="0">Theo quản lý</option>
                            @foreach (var item in groupManagers)
                            {
                                <option value="@((short) item)">@(item.GetDisplayName())</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">Hoặc</div>
                    <div class="form-group">
                        <select class="form-control workflow-user-step" multiple="multiple"></select>
                    </div>
                </div>
            </div>
        </div>
    </script>>
}