﻿/**************************
 CHECKBOX STYLES
***************************/
.special-checkbox {
    border-radius: 5px;
    float: left;
    padding: 4px 10px 4px 30px;
    background: #2d353c !important;
    display: inline-block;
    color: white;
    margin: 0 5px;
}

.checkbox {
    padding-left: 30px;
}

    .checkbox label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
    }

        .checkbox label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            background-color: #ffffff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }

        .checkbox label::after {
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: -2px;
            top: -2px;
            margin-left: -20px;
            padding-left: 5px;
            padding-top: 3px;
            font-size: 9px;
            color: #555555;
        }

    .checkbox input[type="checkbox"] {
        opacity: 0;
    }

        .checkbox input[type="checkbox"]:disabled + label {
            opacity: 0.65;
        }

            .checkbox input[type="checkbox"]:disabled + label::before {
                background-color: #eeeeee;
                cursor: not-allowed;
            }

        .checkbox input[type="checkbox"]:focus + label::before {
            outline: thin dotted;
            outline-offset: -2px;
        }

        .checkbox input[type="checkbox"]:checked + label::after {
            font-size: 12px;
            font-family: 'FontAwesome';
            content: "\f00c";
        }


    .checkbox.checkbox-inline {
        margin-top: 0;
    }

    .checkbox.checkbox-circle label::before {
        border-radius: 50%;
    }

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #ffffff;
    outline: none;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #2d353c;
    border-color: #2d353c;
    outline: none;
}
