﻿.key-name {
    border: 1px;
    text-align: center;
    font-style: italic;
}

.real-name {
    border: 1px;
    text-align: center;
}

#columnKey, #columnName {
    margin-bottom: 10px;
}

.column-add {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

    .column-add button {
        float: left;
    }

.autocomplete {
    display: none;
}

.fb-checkbox-group {
    padding-left: 15px;
}

.robo-form-container {
    min-height: 780px;
}

.pad-lef {
    padding-left: 25px !important;
}

.define-table {
    margin-top: 10px;
}

    .define-table tfoot {
        background: #2d353c;
        color: white;
    }

.note-attention {
    color: #ff253a;
    line-height: 40px;
}

.title-columns {
    position: relative;
}

.remove-column {
    position: absolute;
    top: 5px;
    right: 4px;
    cursor: pointer;
}

.workflow-title {
    font-size: 24px;
    margin: 0 0 20px;
    padding: 0;
    border: none;
    text-align: center;
    line-height: 28px;
}

.special-checkbox {
    background: #dddddd !important;
    color: #707478 !important;
}

.btn {
    min-width: 100px;
}

.table-editable {
    overflow-y: auto;
}

.signature {
    margin-bottom: 50px;
}

.btn-clear {
    position: absolute;
    margin-left: 15px;
    border: none;
    color: #ffffff;
    right: 2px;
    padding: 6px 7px;
    border-radius: 9px;
    background: #d9534f;
}

.btn-undo {
    position: absolute;
    margin-left: 15px;
    border: none;
    right: 2px;
    top: 40px;
    padding: 6px 7px;
    border-radius: 9px;
    color: #ffffff;
    background: #3d5998;
}

.tb-thead {
    background: white !important;
    width: 100%;
}

    .tb-thead label {
        color: #242a30;
        font-weight: bold;
    }

        .tb-thead label::before, .tb-thead label::after {
            font-weight: 100;
        }

.sum-checkbox {
    padding: 4px 21px;
}

.action-by-table {
    margin: 30px 0;
}

.request-footer .wrapper {
    width: 100%;
}

.request-footer textarea {
    height: 200px;
}

.request-footer {
    padding-left: 15px;
    padding-bottom: 15px;
}

.tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: 6px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 40px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

    .tab-wrap:hover {
        box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
    }

.tab {
    display: none;
}

    .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
        position: relative;
        top: 0;
        z-index: 100;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        text-shadow: 0 0 0;
    }

    .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
        position: relative;
        top: 0;
        z-index: 100;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        text-shadow: 0 0 0;
    }

    .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
        position: relative;
        top: 0;
        z-index: 100;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        text-shadow: 0 0 0;
    }

    .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
        position: relative;
        top: 0;
        z-index: 100;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        text-shadow: 0 0 0;
    }

    .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
        position: relative;
        top: 0;
        z-index: 100;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        text-shadow: 0 0 0;
    }

    .tab:first-of-type:not(:last-of-type) + label {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .tab:not(:first-of-type):not(:last-of-type) + label {
        border-radius: 0;
    }

    .tab:last-of-type:not(:first-of-type) + label {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .tab:checked + label {
        background-color: #2d353c;
        box-shadow: -2px -1px 4px 0px #ffffff inset;
        cursor: default;
        color: white;
        font-size: 15px;
    }

        .tab:checked + label:hover {
            box-shadow: 0 -1px 0 #fff inset;
            background-color: #5a6976;
            box-shadow: -2px -1px 4px 0px #ffffff inset;
            color: white;
        }

    .tab + label {
        box-shadow: 0 -1px 0 #eee inset;
        border-radius: 6px 6px 0 0;
        cursor: pointer;
        display: block;
        text-decoration: none;
        color: #333;
        flex-grow: 3;
        text-align: center;
        background-color: #fff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: 0.3s background-color ease, 0.3s box-shadow ease;
        height: 50px;
        box-sizing: border-box;
        padding: 15px;
        font-size: 15px;
    }

        .tab + label:hover {
            background-color: #abb2bd;
            box-shadow: -2px -1px 4px 0px #ffffff inset;
            color: #fff;
        }

.tab__content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    border-radius: 6px;
}

/* boring stuff */
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #e7e7e7;
    color: #777;
    padding: 30px 0;
    font-weight: 300;
}


h1,
h2 {
    margin: 0;
    color: #444;
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 1em;
    margin-bottom: 30px;
}

h3 {
    font-weight: 400;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.page-header {
    font-size: 24px;
    margin: 25px 0px -10px 0px !important;
    padding: 0;
    border: none;
    line-height: 28px;
}

.form-group {
    position: relative;
}

    .form-group .custom-money {
        padding: 6px;
        position: absolute;
        top: 25px;
        right: 17px;
        border-left: 1px solid rgb(226, 231, 235);
    }

.btn-refresh {
    /*position: absolute;*/
    /*padding-left: 20px;*/
    border: none;
    color: #ffffff;
    padding: 9px 10px 6px 9px;
    border-radius: 9px;
    background: #d9534f;
}

.captcha-card {
    margin-top: 10px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;    
    border-style: solid none;
    border-width: 1px 0;
    margin: 5px 5px;
}