/*   
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.1.1
Version: 1.1.0
Author: Sean Ngu
Website: http://www.sean-theme.com/color-admin-v1.1/
*/

@-moz-keyframes sidebarSlideIn {
    from {
        left: -220px;
    }

    to {
        left: 0;
    }
}

@keyframes sidebarSlideIn {
    from {
        left: -220px;
    }

    to {
        left: 0;
    }
}

@-webkit-keyframes sidebarSlideIn {
    from {
        left: -220px;
    }

    to {
        left: 0;
    }
}

@media (max-width: 980px) {
    .form-horizontal.form-bordered .form-group {
        border-bottom: 1px solid #eee;
    }

        .form-horizontal.form-bordered .form-group > .control-label {
            padding: 15px 15px 5px;
        }

        .form-horizontal.form-bordered .form-group > div {
            padding: 5px 15px 15px;
        }

        .form-horizontal.form-bordered .form-group > div,
        .form-horizontal.form-bordered .form-group > .control-label {
            border: none;
        }

    .result-list .result-image,
    .result-list .result-price {
        width: 200px;
    }

    .gallery .image {
        width: 33%;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 0 !important;
    }

    .page-with-right-sidebar .sidebar {
        left: auto;
        right: -220px;
    }

    .page-with-right-sidebar .content {
        margin-right: 0;
    }

    .page-with-right-sidebar .footer {
        margin-right: 20px;
    }

    .content,
    .sidebar-minifed .content {
        margin-left: 0 !important;
    }

        .content.content-full-width .breadcrumb {
            margin: 20px;
        }

    .navbar.navbar-fixed-top {
        position: relative;
        margin: 0;
    }

    .navbar-brand {
        width: auto;
    }

    .navbar-header {
        border-bottom: 1px solid #eee;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-right {
        float: right;
    }

    .navbar-left {
        float: left;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-form {
        margin: 0;
        padding: 12px 10px;
        border: none;
    }

        .navbar-form .btn-search {
            right: 10px;
        }

        .navbar-form .form-group {
            margin: 0;
        }

        .navbar-form .form-control,
        .navbar-form .form-control:focus {
            margin: 0;
            width: 200px !important;
            -webkit-animation: none !important;
            -moz-animation: none !important;
            -ms-animation: none !important;
            -o-animation: none !important;
            animation: none !important;
        }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        border-top: 1px solid #eee;
        list-style: none;
        background: #fff;
        box-shadow: 0 2px 5px -1px #000000;
        box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 2px 5px -1px #000000;
        -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2);
    }

    .navbar-nav.navbar-right .open .dropdown-menu {
        right: 0;
        left: auto;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background: #edf0f5;
    }

    .sidebar-toggled .sidebar {
        left: 0;
        animation: sidebarSlideIn .2s;
        -webkit-animation: sidebarSlideIn .2s;
    }

    .sidebar {
        position: fixed;
        left: -220px;
        padding-top: 0;
        background: rgb(45, 53, 60);
        z-index: 1020;
    }

    .sidebar-bg {
        position: static;
        background: none;
    }

    .sidebar-minified.page-with-right-sidebar .content {
        margin-right: 0;
    }

    .sidebar-minified.page-with-right-sidebar .footer {
        margin-right: 20px;
    }

    .content {
        margin-left: 0;
        padding: 20px;
    }

    .breadcrumb {
        float: none !important;
    }

    .footer {
        margin: 0 20px;
    }

    .table-responsive .table > thead > tr > th,
    .table-responsive .table > tbody > tr > th,
    .table-responsive .table > tfoot > tr > th,
    .table-responsive .table > thead > tr > td,
    .table-responsive .table > tbody > tr > td,
    .table-responsive .table > tfoot > tr > td {
        white-space: nowrap;
    }

    .dataTables_wrapper {
        padding: 15px;
        min-width: 767px;
    }

    .login .login-header,
    .login-content {
        width: 100% !important;
    }

    .login {
        margin: 108px 0;
    }

        .login .login-header {
            left: 0;
            margin: 0;
        }

    .invoice-company .pull-right {
        float: none !important;
        display: block;
    }

    .invoice .table-responsive {
        margin-bottom: 20px;
    }

    .invoice-from, .invoice-to, .invoice-date {
        display: block !important;
        width: 100% !important;
        text-align: left !important;
        padding: 0 !important;
    }

    .invoice-to, .invoice-date {
        margin-top: 20px !important;
    }

    .invoice-price .invoice-price-left,
    .invoice-price .invoice-price-right {
        display: block;
        width: 100% !important;
        float: left !important;
        padding: 10px !important;
    }

    .invoice-price .invoice-price-row {
        float: none !important;
        width: 100% !important;
        display: block !important;
    }

    .invoice-price .invoice-price-left .sub-price {
        padding: 0 10px !important;
        display: block !important;
        text-align: center !important;
    }

    .invoice-price .invoice-price-right {
        text-align: center !important;
    }

        .invoice-price .invoice-price-right small {
            position: relative !important;
            display: block;
            left: 0 !important;
            top: 0 !important;
        }

    .result-list .result-image {
        width: 160px;
    }

    .result-list .result-price {
        width: 100px;
        font-size: 20px;
    }

    .result-list > li > div {
        padding: 15px;
    }

    .map {
        top: 109px !important;
        left: 0 !important;
    }

    .gallery .image {
        width: 50%;
    }

    .vertical-box,
    .vertical-box .vertical-column {
        display: block !important;
    }

    .width-xs,
    .width-sm,
    .width-md,
    .width-lg,
    .width-full {
        width: 100% !important;
    }

    .fc-event .fc-event-title small {
        display: none !important;
    }

    .calendar {
        display: block;
        width: 100% !important;
    }

    .calendar {
        margin-left: 0 !important;
    }

    .fc-button-today {
        float: left !important;
    }

    .fc-header-left,
    .fc-header-center,
    .fc-header-right {
        text-align: center !important;
        width: 100% !important;
        display: table !important;
    }

    .calendar-event .external-event {
        width: 100% !important;
    }

    .fc-header-left {
        text-align: right !important;
    }

    .fc-header-center {
        margin-top: -46px !important;
    }

        .fc-header-center h2 {
            font-size: 18px !important;
        }

    .calendar-event .external-event p,
    .calendar-event .external-event i,
    .fc-header-left .fc-header-space,
    .fc-event .fc-event-icons {
        display: none !important;
    }

    .calendar-event .external-event h5 {
        margin: 0 !important;
    }

    .bwizard-steps li {
        float: left !important;
        width: 100% !important;
    }

    .nav-tabs.nav-justified.nav-justified-mobile > li {
        display: table-cell;
        width: 1%;
    }

        .nav-tabs.nav-justified.nav-justified-mobile > li > a {
            margin-bottom: 0;
        }
}

@media(max-width: 480px) {
    .media.media-lg .pull-left {
        float: none !important;
        margin-right: 0;
    }

    .media.media-lg .media-object {
        width: 100%;
        margin-bottom: 10px;
    }

    .result-list .result-image {
        width: 100%;
        float: none;
    }

        .result-list .result-image a {
            position: relative;
        }

    .result-list > li > div {
        display: block;
        width: 100%;
    }

    .result-list > li > .result-price {
        border-left: none;
        border-top: 1px dashed #ddd;
        width: 100%;
        padding: 15px;
    }

    .result-list .btn-row {
        text-align: center;
    }

    .result-list .result-price .btn {
        margin-top: 15px;
    }

    .gallery .image {
        width: 100%;
    }
    .section-step{
        border-top: 1px solid #e2e7eb;
        border-left: unset !important;
        padding-left: 25px !important;
        padding-top: 25px !important;
    }
}

@media (max-width: 380px) {
    .navbar-form .form-control,
    .navbar-form .form-control:focus {
        width: 160px !important;
    }
}

@media (max-width: 340px) {
    .navbar-form .form-control,
    .navbar-form .form-control:focus {
        width: 140px !important;
    }
}




/* -------------------------------
   v1.1 Update
------------------------------- */

/* Timeline Setting */

@media (max-width: 979px) {
    .timeline .timeline-body {
        margin-left: 25%;
        margin-right: 10%;
    }

    .timeline .timeline-time {
        width: 13%;
    }

    .timeline .timeline-icon {
        left: 13%;
        width: 12%;
    }

    .timeline:before {
        left: 19%;
    }
}
@media (max-width: 768px) {
    .k-grid tr td {
        width: 150px;
    }
    div.k-grid-header th.k-header, tr.k-filter-row > th {
        width: 150px;
    }
}
@media (max-width: 767px) {
    .timeline:before {
        left: 50%;
    }

    .timeline .timeline-body {
        margin-right: 0;
        margin-left: 0;
        margin-top: 10px;
        padding: 20px;
    }

    .timeline .timeline-footer {
        margin: 20px -20px -20px;
        padding: 20px;
    }

    .timeline .timeline-body:before {
        border-bottom-color: #fff;
        border-right-color: transparent;
        left: 50%;
        top: -20px;
        margin-left: -10px;
    }

    .timeline .timeline-time {
        right: 50%;
        left: 0;
        width: auto;
        margin-right: 40px;
        padding-top: 5px;
    }

    .timeline .timeline-icon {
        left: 0;
        width: 80px;
        position: relative;
        margin: 0 auto;
    }
}


/* Coming Soon Page Setting */

@media (max-width: 979px) {
    .coming-soon .timer .is-countdown {
        width: 767px;
    }
}

@media (max-width: 767px) {
    .coming-soon .timer .is-countdown {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .coming-soon .timer .countdown-amount {
        font-size: 24px;
    }

    .coming-soon .timer .countdown-period,
    .coming-soon .coming-soon-header .desc,
    .coming-soon .coming-soon-content .desc {
        font-size: 12px;
    }

    .coming-soon .coming-soon-header .desc,
    .coming-soon .coming-soon-content .desc {
        padding-right: 20px;
        padding-left: 20px;
    }

    .coming-soon .coming-soon-content .input-group {
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
    }
    .k-grid tr td {
        width: 150px;
    }
    div.k-grid-header th.k-header, tr.k-filter-row > th {
        width: 150px;
    }
}
@media (max-width: 992px){
    .login-container {
        width: 100%;
    }
}
@media (min-width: 990px){
    .login-container {
        width: 25%;
    }
}

@media (min-width: 1200px){
    .col-lg-3 {
        width: 32.30% !important;
    }
}

@media
only screen and (max-width: 1024px) {
    .note{
        margin-bottom: 0 !important;
    }
    .responsive-form table, .responsive-form thead, .responsive-form tbody, .responsive-form th, .responsive-form td, .responsive-form tr {
        display: block;
    }
    .responsive-form thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .responsive-form tr { border: 1px solid #ccc; }
    .responsive-form td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 200px;
        margin-left: 125px;
    }
    .responsive-form td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 200px;
        padding-right: 40px;
        white-space: nowrap;
        margin-left: -150px;
    }
    .responsive-form td:before {
        content: attr(title) !important; 
        font-style: unset !important; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .tb-special td:last-of-type:before { content: "Xóa" !important; font-style: unset !important;}
}