﻿@model CMS.Dashboard.ViewModels.AccountViewModels.LoginViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Đăng nhập Fsb Eform</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="icon" href="~/images/fpt-logo.png">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
    <div class="login-container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="text-center logo-img"><img class="logo img-responsive" src="/images/fsb-logo.png" alt="Logo" style="margin: 0 auto;"></div>
                <br>
                <div class="row login-form">
                    <div class="col-md-12 col-xs-12">
                        <form asp-controller="Account" asp-action="LoginGoogle">
                            <div class="btn-login-google">
                                <p>
                                    @foreach (var provider in Model.Schemes)
                                    {

                                        <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <span class="google-signin-logo"></span>
                                            Đăng nhập với FSB Email
                                        </button>
                                    }
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="sign-up-option">
                            <div class="sign-up-line"></div>
                            <div class="sign-up-option-text">HOẶC VỚI TÀI KHOẢN</div>
                            <div class="sign-up-line"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <form id="fLogin" asp-controller="Account" asp-action="Login" method="post" asp-antiforgery="true" autocomplete="off">
                            <div class="form-group">
                                <label>Tên tài khoản/Email</label>
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control input-special", name = "UsernameOrEmail" })
                                <span data-valmsg-for="Username" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu: *</label>
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control password input-special", name = "Password", oncopy = "return false", oncut = "return false", autocomplete = "off"})
                                <span data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                            @*<div class="checkbox remember-me">
                                <label>
                                    @Html.CheckBoxFor(x => x.RememberMe, new { @class = "checkbox" }) Ghi nhớ tài khoản
                                </label>
                            </div>*@
                            <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
                            <button type="submit" class="btn-login" name="Save">
                                <i id="i-loading" class='fa fa-circle-o-notch fa-spin hide'></i>
                                Đăng nhập
                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/aes.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery.disableAutoFill.min.js"></script>
    <script src="~/js/utils.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            const $fLogin = $("#fLogin");
            $fLogin.disableAutoFill();

            $fLogin.submit(function (evt) {
                evt.preventDefault();
                let $iLoading = $('#i-loading');
                
                $iLoading.removeClass('hide');
                let $btn = $iLoading.parent();
                $btn.addClass('disabled-btn-login');
                
                let validationInfo = $(this).data('unobtrusiveValidation');
                let isValid = !validationInfo || !validationInfo.validate || validationInfo.validate();
                if (!isValid) {
                    return;
                }

                let data = $(this).serializeArray();

                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    if (item.name === 'Password') {
                        item.value = aesEncrypt(item.value).toString();
                    }
                }

                $.post(this.action, data, function (data, status, xhr) {
                    $('#i-loading').addClass('hide');
                    $btn.removeClass('disabled-btn-login')
                    let contentType = xhr.getResponseHeader("Content-Type") || "text/html";
                    if (contentType.indexOf("application/x-javascript") !== -1) {  // jQuery already executes JavaScript for us
                        return;
                    }
                });
            });
        });
    </script>
</body>
</html>
