﻿@model CMS.Dashboard.Models.FormTemplateModel

<link rel="stylesheet" type="text/css" href="~/css/custom.css"/>
<link rel="stylesheet" type="text/css" href="~/css/checkbox-radio-btn.css"/>
<style>
     .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }

    .autocomplete {
        display: none;
    }

    .fb-checkbox-group {
        padding-left: 15px;
    }

    .robo-form-container {
        min-height: 780px;
    }

    .pad-lef {
        padding-left: 25px !important;
    }

    .define-table {
        margin-top: 10px;
    }

        .define-table tfoot {
            background: #2d353c;
            color: white;
        }

    .note-attention {
        color: #ff253a;
        line-height: 40px;
    }

    .title-columns {
        position: relative;
    }

    .remove-column {
        position: absolute;
        top: 5px;
        right: 4px;
        cursor: pointer;
    }

    .workflow-title {
        font-size: 24px;
        margin: 0 0 20px;
        padding: 0;
        border: none;
        text-align: center;
        line-height: 28px;
    }

    .special-checkbox {
        background: #dddddd !important;
        color: #707478 !important;
    }

    .btn {
        min-width: 100px;
    }

    .table-editable {
        overflow-y: auto;
    }

    .signature {
        margin-bottom: 50px;
    }

    .btn-clear {
        position: absolute;
        margin-left: 15px;
        border: none;
        color: #ffffff;
        right: 2px;
        padding: 6px 7px;
        border-radius: 9px;
        background: #d9534f;
    }
    .btn-undo {
        position: absolute;
        margin-left: 15px;
        border: none;
        right: 2px;
        top: 40px;
        padding: 6px 7px;
        border-radius: 9px;
        color: #ffffff;
        background: #3d5998;
        }
    .tb-thead{
            background: white !important;
            width: 100%;
    }

        .tb-thead label {
            color: #242a30;
            font-weight: bold;
        }

            .tb-thead label::before, .tb-thead label::after {
                font-weight: 100;
            }

    .sum-checkbox {
        padding: 4px 21px;
    }

    .action-by-table {
        margin: 30px 0;
    }
    .request-footer .wrapper{
        width: 100%;
    }

    .request-footer textarea{
        height: 200px;
    }
    .btn-refresh {
            position: absolute;
            margin-left: 20px;
            border: none;
            color: #ffffff;
            padding: 5px 7px;
            border-radius: 9px;
            background: #d9534f;
    }
    .captcha-card{
       margin-top: 10px;
    }
</style>

<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <div class="robo-form-container robo-form-layout-flat">
            <form asp-controller="FormTemplate" asp-action="SaveFormTemplate" method="post" enctype="multipart/form-data">
                <div id="fb-editor"></div>
                <div class="row">
                    <fieldset>
                        <div class="col-md-12">
                            <div class="sum-checkbox checkbox checkbox-primary">
                                <input name="EnabledTable" id="EnabledTable" type="checkbox">
                                <label for="EnabledTable">Tạo Table Gridview</label>
                            </div>
                            <div class="card render-table hide">

                                <div class="card-body">
                                    <div id="table" class="table-editable">
                                        <label for="columnKey">Key</label>
                                        <input id="columnKey" type="text" class="form-control">
                                        <label for="columnName">Column name</label>
                                        <input id="columnName" class="form-control" type="text">
                                        <span class="sum-checkbox checkbox checkbox-primary">
                                            <input name="SumColumn" id="SumColumn" type="checkbox">
                                            <label for="SumColumn">Tính tổng cho cột</label>
                                        </span>
                                        <div class="separating-line"></div>
                                        <div class="action-by-table">
                                            <div class="column-add mb-3 mr-2">
                                                <button id="addColumn" class="btn" type="button">
                                                    Thêm cột
                                                    <a href="#" class="text-success">
                                                        <i class="fas fa-plus" aria-hidden="true"></i>
                                                    </a>
                                                </button>

                                            </div>
                                        </div>
                                        <div class="action-by-table">
                                            <span class="table-add float-right mb-3 mr-2">
                                                <button id="addRow" class="btn" type="button">
                                                    Thêm hàng
                                                    <a href="#" class="text-success">
                                                        <i class="fas fa-plus" aria-hidden="true"></i>
                                                    </a>
                                                </button>
                                                <span class="table-reset float-right mb-3 mr-2">
                                                    <button class="btn btn-danger" type="button">Tạo lại</button>
                                                </span>
                                            </span>
                                        </div>
                                        <table class="table table-bordered table-responsive-md table-striped text-center define-table tb-special responsive-form">
                                            <thead>
                                            <tr>
                                                <th class="text-center title-columns delete-col">
                                                    <div class="col-md-12">Xóa</div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-12 control-label">Tên mẫu văn bản</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="TemplateName" id="TemplateName" value="@Model.TemplateName" data-val="true" required="required"/>
                                <span data-valmsg-replace="true" data-valmsg-for="TemplateName" style="display: block;"></span>
                            </div>
                        </div>

                        <!-- File Button -->
                        <div class="form-group">
                            <label class="col-md-12 control-label">Tải lên mẫu văn bản</label>
                            <div class="col-md-12">
                                <label for="file-upload" class="custom-file-upload">
                                    <i class="fa fa-upload"></i> Chọn file văn bản mẫu
                                </label>
                                <input id="file-upload" name='file-upload' type="file" style="display:none;">
                                <label id="file-name">@(Model.TemplatePath?.Substring(Model.TemplatePath.LastIndexOf(@"\") + 1))</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">Trạng thái</label>
                            <div class="col-md-12">
                                <input type="checkbox" name="IsActive" id="IsActive" checked="@Model.IsActive">
                                <label for="IsActive">Trạng thái</label>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-4">
                                <input type="hidden" name="TemplatePath" id="TemplatePath" value="@Model.TemplatePath"/>
                                <input type="hidden" name="TemplateContent" id="TemplateContent" value="@Model.TemplateContent"/>
                                <input type="text" hidden name="Id" value="@Model.Id"/>
                                <button name="Save" id="Save" class="btn btn-primary" type="submit">Lưu lại</button>
                                <a href="@Url.Action("Index")" class="btn btn-primary">Quay lại</a>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/form-buider/form-builder.min.js"></script>
    <script src="~/js/form-buider/form-render.min.js"></script>
    <script src="~/js/form-buider/form-builder-extend.js"></script>
    <script src="~/js/form-buider/jquery.js"></script>
    <script src="~/js/utils.js"></script>

    <script>
        jQuery(function ($) {
            //Enabled table
            let $enabledTable = $('#EnabledTable');
            $enabledTable.on('click', function(){
               let isChecked = $(this).prop('checked');
               if(isChecked){
                   $('.render-table').removeClass('hide');
               }else{
                   $('.render-table').addClass('hide');
               }
            });

            let fbEditor = document.getElementById('fb-editor');
            let formData = document.getElementById('TemplateContent').value;

            let options = initalizeOptions();
            $(fbEditor).formBuilder(options).promise.then(formBuilder => {
                if(!formData){
                  formBuilder.actions.setData(formData);
                }else{
                     let parseTemplate = JSON.parse(formData);
                     let newTemplate = parseTemplate.filter(x => x.type !== 'table');
                      if (newTemplate) {
                         formBuilder.actions.setData(JSON.stringify(newTemplate))
                      }
                      let tableTemplate = parseTemplate.filter(x => x.type === 'table');
                          if (tableTemplate.length > 0) {
                             if(tableTemplate[0].enabled) $('#EnabledTable').trigger('click');
                             fillDataToTable(tableTemplate[0]);
                      }
                }
                document.getElementById('Save').addEventListener('click', function () {
                    const table = $('#table');
                    const $rows = table.find('tbody tr:not(:hidden)');
                    const $tb_head = table.find('tr:not(:hidden)');
                    let headers = [],
                        keyHeaders = [];
                    $($tb_head.shift()).find('th:not(:empty)').each(function() {
                        let $this = $(this);
                        if (!$this.text().toLowerCase().includes('xóa')) {
                            headers.push({
                                item: $this.find('.real-name').val(),
                                key: $this.find('.key-name').val(),
                                isSum: $this.find('.key-name').data('sum')
                            });
                            keyHeaders.push($this.find('.key-name').val());
                        }
                    });
                    let newObj = {};
                    newObj.type = "table";
                    newObj.columns = headers;
                    newObj.rows = [];
                    $rows.each(function() {
                        const $td = $(this).find('td');
                        let row = {};
                        keyHeaders.forEach((header, i) => row[header] = $td.eq(i).text().trim());
                        newObj.rows.push(row);
                    });
                    if($enabledTable.prop('checked')){
                        newObj.enabled = true;
                    }
                    let formBuilderParse = JSON.parse(formBuilder.formData);
                    formBuilderParse.push(newObj);
                    document.getElementById('TemplateContent').value = JSON.stringify(formBuilderParse);
                });
            });

            document.querySelector("#file-upload").onchange = function () {
                document.querySelector("#file-name").textContent = this.files[0].name;
            }
        });
    </script>
}