﻿@model CMS.Dashboard.ViewModels.MenuViewModels.MenuViewModel
@{
    var menus = Model.Menus;
    var menuChilds = Model.MenuChilds;
    foreach (var item in menuChilds)
    {
        var childs = menus.Where(x => x.Parent == item.Id).ToList();
        if (childs.Count == 0)
        {
            <li>
                <a title="@item.Name" href="@item.Url" style="cursor: pointer;">
                    <i class="@item.Icon"></i>
                    <span>@item.Name</span>
                </a>
            </li>
        }
        else
        {
            <li class="has-sub">
                <a style="cursor: pointer;">
                    <i class="@item.Icon"></i>
                    <b class="caret pull-right"></b>
                    <span>@item.Name</span>
                </a>
                <ul class="sub-menu">
                    @await Html.PartialAsync("_MenuPartial", new CMS.Dashboard.ViewModels.MenuViewModels.MenuViewModel { Menus = menus, MenuChilds = childs })
                </ul>
            </li>
        }
    }
}
