﻿@using CMS.Dashboard
@using CMS.Shared
@inject WorkContext WorkContext
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/kendo/2014.1.318/kendo.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/elfinder/elfinder.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/iziModal.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/custom.css" />
</head>
<body class="minimal-layout">
    <div id="divWrapContent" class="modal-content">
        <div class="modal-body" style="margin-top: 40px;">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="~/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/js/aes.min.js"></script>
    <script type="text/javascript" src="~/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/js/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/js/elfinder.full.js"></script>
    <script type="text/javascript" src="~/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/js/kendo/2014.1.318/kendo.web.min.js"></script>
    <script type="text/javascript" src="~/js/kendo/2014.1.318/kendo.aspnetmvc.min.js"></script>
    <script type="text/javascript" src="~/js/iziModal.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/js/dashboard.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/js/jquery.disableAutoFill.min.js"></script>
    @WorkContext.RenderScripts()
    <script type="text/javascript">
    $(document).ready(function () {
        if (window != window.top) {
            $(".fancybox-inner .box-header .title", window.parent.document).html(document.title);
            if (parent.top.$.fancybox.current) {
                var height = $("#divWrapContent").height();
                var viewPortHeight = $(window.top).height() - 40;
                if (height > viewPortHeight) {
                    height = viewPortHeight;
                } else {
                    height += 40;
                    if (height > viewPortHeight) {
                        height = viewPortHeight;
                    }
                }
                parent.top.$.fancybox.current.height = height;
                parent.top.$.fancybox.update();
            }
        }

        $(function () {
            $('.datepicker').datetimepicker({
                locale: 'en',
                format: '@Constants.ShortDatePattern.ToUpperInvariant()',
                ignoreReadonly: true
            });
        });

        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'en',
                format: 'DD/MM/YYYY hh:mm:ss'
            });
        });
    });
    </script>
    @RenderSection("Scripts", false);
</body>
</html>