﻿@using CMS.Dashboard
@using CMS.Shared
@using System.Security.Claims;
@inject WorkContext WorkContext
@{
    var userRole = User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(y => y.Value).FirstOrDefault();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/kendo/2014.1.318/kendo.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/elfinder/elfinder.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/iziModal.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/custom.css">
    @WorkContext.RenderStyles()
    <style type="text/css">
        .CodeMirror {
            border: 1px solid #eee;
            height: auto;
        }

        [contenteditable=true]:empty:not(:focus):before {
            content: attr(data-placeholder);
            color: grey;
            font-style: italic;
        }

        .fancybox-type-iframe .fancybox-inner {
            overflow: hidden !important;
        }

        .fancybox-type-iframe .box-header {
            position: absolute;
            width: 100%;
            height: 40px;
            z-index: 1000;
        }
    </style>
    @RenderSection("Head", false)
</head>
<body class="@ViewBag.BodyCssClass">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <div class="navbar-logo-header" onclick="window.location.href = '/'">
                        <img src="~/images/fsb-logo.png" style="height: 100%; cursor: pointer" onclick="window.location.reload()" />
                        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">
                    @if (User != null && User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown navbar-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs" style="float: left">@User.Identity.Name</span>
                                <img src="~/images/user-default.png" alt="" />
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu animated fadeInLeft">
                                <li class="arrow"></li>
                                <li><a href="@Url.Action("ChangePassword", "Account")" data-toggle="fancybox" data-fancybox-width="600" data-fancybox-type="iframe">Đổi mật khẩu</a></li>
                                <li><a href="@Url.Action("LogOff", "Account")">Log Out</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                @if (User != null && User.Identity.IsAuthenticated)
                {
                    <ul class="nav">
                        <li class="nav-profile">
                            <div class="image">
                                <a href="/"><img src="~/images/user-default.png" alt="" /></a>
                            </div>
                            <div class="info">
                                <span id="user-role" class="role-color @userRole">@userRole</span>
                                <p style="font-size:12px">@User.Identity.Name</p>

                            </div>
                        </li>
                    </ul>
                }
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                @Html.Partial("Menu")
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <!-- end #sidebar -->
        <!-- begin #content -->
        <div id="content" class="content">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                <li><a href="~/">Trang chủ</a></li>
                @foreach (var item in WorkContext.Breadcrumbs)
                {
                    if (string.IsNullOrEmpty(item.Url))
                    {
                        <li class="active">@item.Text</li>
                    }
                    else
                    {
                        <li>
                            <a href="@item.Url">
                                @if (!string.IsNullOrEmpty(item.IconCssClass))
                                {
                                    <i class="@item.IconCssClass"></i>@:&nbsp;
                                }
                                @item.Text
                            </a>
                        </li>
                    }
                }
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            @* <h1 class="page-header">@ViewBag.Title <small style="display: block; margin-top: 5px;">@ViewBag.SubTitle</small></h1> *@
            <!-- end page-header -->
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end #content -->
    </div>
    <!-- end page container -->

    <script type="text/javascript" src="~/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.custom.js"></script>
    <script type="text/javascript" src="~/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/js/bootbox.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/js/aes.min.js"></script>
    <script type="text/javascript" src="~/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/js/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/js/elfinder.full.js"></script>
    <script type="text/javascript" src="~/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/js/kendo/2014.1.318/kendo.web.min.js"></script>
    <script type="text/javascript" src="~/js/kendo/2014.1.318/kendo.aspnetmvc.min.js"></script>
    <script type="text/javascript" src="~/js/iziModal.min.js"></script>
    <script type="text/javascript" src="~/js/chosen.jquery.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/js/dashboard.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/js/select2.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.disableAutoFill.js"></script>
    @* <script type="text/javascript" src="~/js/jquery.steps.min.js"></script> *@
    @WorkContext.RenderScripts()

    <script type="text/javascript">
        $(document).ready(function () {
            Dashboard.init();
        });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="fancybox"]').fancybox({
            autoSize: false,
            modal: true,
            scrolling: 'no',
            autoHeight: true,
            iframe: {
                scrolling: 'auto',
                preload: false
            },
            beforeLoad: function () {
                var width = this.element.data('fancybox-width');
                if (width) {
                    this.width = parseInt(width);
                }

                var height = this.element.data('fancybox-height');
                if (height) {
                    this.height = parseInt(height);
                }

                if (this.type === "iframe") {
                    this.padding = 0;
                }

                var beforeLoad = this.element.data('fancybox-beforeload');
                if (beforeLoad) {
                    return eval(beforeLoad + "(this.element, this)");
                }
                return true;
            },
            afterLoad: function () {
                if (this.type === "iframe") {
                    this.inner.prepend('<div class="box-header"><span class="title">&nbsp;</span><div class="buttons"><a class="btn btn-xs btn-icon btn-circle btn-danger" href="javascript:void(0)" onclick="parent.jQuery.fancybox.close();"><i class="cx-icon cx-icon-close"></i></a></div></div>');
                }
            }
        });

        $(function () {
            $('.datepicker').datetimepicker({
                locale: 'en',
                format: '@Constants.ShortDatePattern.ToUpperInvariant()',
                ignoreReadonly: true,
            });
        });

        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'en',
                format: 'DD/MM/YYYY HH:mm',
                ignoreReadonly: true,
                sideBySide: true
            });
        });
    });

    window.alert = function (message, fallback) {
        if (fallback) {
            return;
        }
        bootbox.alert(message);
    };

    function showWaiting() {
        $("#page-container").removeClass("in");
        $("#page-loader").removeClass("hide");
    }

    function hideWaiting() {
        $("#page-container").addClass("in");
        $("#page-loader").addClass("hide");
    }
    // get current URL path and assign 'active' class then show li parent
    var liActive = $('ul > li > a[href="' + window.location.pathname + '"]').parent();
    $(liActive).addClass('active');
    $(liActive).parent().show();
    </script>

    @RenderSection("Scripts", false)

    <mini-profiler />
</body>
</html>