﻿@using CMS.Dashboard
@using CMS.Services.Services
@using System.Linq
@using CMS.Core.Extensions
@inject WorkContext WorkContext
@inject IMenuService MenuService
@{
    var menus = await WorkContext.GetPermissionMenus();
    var workflows = await WorkContext.GetWorkFlow();
    var user = await WorkContext.GetCurrentUser();
}

<ul class="nav">
    <li class="nav-header">Điều hướng</li>
    @{
        if (!menus.IsNullOrEmpty())
        {
            var mRoots = menus.Where(t => t.Parent == 0).OrderBy(x => x.Position).ToList();
            if (!mRoots.IsNullOrEmpty())
            {
                foreach (var item in mRoots)
                {
                    var childs = menus.Where(x => x.Parent == item.Id).ToList();

                    if (childs.Count == 0)
                    {
                        <li class="">
                            <a title="@item.Name" href="@item.Url" style="cursor: pointer;">
                                <i class="@item.Icon"></i>
                                <span>@item.Name</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="has-sub">
                            <a style="cursor: pointer;">
                                <i class="@item.Icon"></i>
                                <b class="caret pull-right"></b>
                                <span>@item.Name</span>
                            </a>
                            <ul class="sub-menu">
                                @await Html.PartialAsync("_MenuPartial", new CMS.Dashboard.ViewModels.MenuViewModels.MenuViewModel {Menus = menus.ToList(), MenuChilds = childs})
                            </ul>
                        </li>
                    }
                }

                <li class="has-sub">
                    <a style="cursor: pointer;" title="Tạo mới văn bản">
                        <i class="fab fa-stack-overflow"></i>
                        <b class="caret pull-right"></b>
                        <span>Tạo mới văn bản</span>
                    </a>
                    <ul class="sub-menu">
                        @{
                            if (!workflows.IsNullOrEmpty())
                            {
                                foreach (var item in workflows.Where(item => item.WorkflowType == user.UserType))
                                {
                                    <li>
                                        <a title="@item.Name" href="@Url.Action("WorkTemplate", "RequestDocument", new {id = item.Id, templateId = item.FormTemplateId})" style="cursor: pointer;">
                                            <i class="fab fa-stack-overflow"></i>
                                            <span>@item.Name</span>
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
            }
        }
    }

    <!-- begin sidebar minify button -->
    <li>
        <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">
            <i class="fa fa-angle-double-left"></i>
        </a>
    </li>
    <!-- end sidebar minify button -->
</ul>