﻿@model IEnumerable<CMS.Shared.Data.Domain.Workflow>

<div class="form-group col-md-12 col-sm-12">
    <fieldset>
        <legend>Tạo mới văn bản</legend>
    </fieldset>
    <div class="row">
        @foreach (var procedure in Model)
        {
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-sx-12">
                <p>
                    <i class="fas fa-file-alt"></i>
                    <a class="" title="@procedure.Name" target="_blank" href="@Url.Action("WorkTemplate", "RequestDocument", new {id = procedure.Id, templateId = procedure.FormTemplateId})" style="cursor: pointer;">
                        <span>@procedure.Name</span>
                    </a>
                </p>
            </div>
        }
    </div>

</div>
