@using CMS.Dashboard
@using CMS.Shared.Data.Domain
@inject WorkContext WorkContext
@model CMS.Dashboard.Models.WorkingLateRequestModel
@{
    ViewBag.Title = "Xác nhận đi làm muộn";
}

<div class="container">
    <div class="row">
        <form method="POST" action="@Url.Action("ConfirmLateRequest")" data-val="true" id="confirmLateRequest">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4">
                        Họ và tên cán bộ đi muộn
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="UserFullName" disabled="disabled" value="@Model.Requester?.FullName" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4">
                        Ngày làm việc
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="WorkingDate" disabled="disabled" value="@Model.WorkingDate" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4">
                        Giờ đến FSB
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="ActualWorkingTime" disabled="disabled" value="@Model.ActualWorkingTime" />
                    </div>
                </div>
            </div>
            <h4><p>Đề nghị cán bộ quản lý xác nhận thời gian đi làm muộn kể trên là có lý do</p></h4>
            <br/>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;"><button name="Submit" value="@ConfirmStatus.Rejected" class="btn btn-danger btnReject" data-target="#action-status" type="submit">Không xác nhận</button></div>
                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;"><button name="Submit" value="@ConfirmStatus.ApproveWithReason" class="btn btn-warning btnAppriveWithReason" data-target="#action-status" type="submit">Xác nhận quên điểm danh</button></div>
                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;"><button name="Submit" value="@ConfirmStatus.Approved" class="btn btn-success btnApprove" data-target="#action-status" type="submit">Xác nhận</button></div>
                </div>
            </div>
        </form>
    </div>
</div>