@model CMS.Dashboard.Models.WorkingTimesheetModel
@using CMS.Dashboard.Models
@using CMS.Dashboard
@using CMS.Dashboard.Extensions
@using CMS.Shared.Data.Domain
@inject WorkContext WorkContext
@{
    var currentUser = await WorkContext.GetCurrentUser();
}

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="panel-heading bg-primary">
            <div class="panel-title">
                <b>Test</b>
            </div>
        </div>
        <div class="panel-body no-padding">
        @Html.RoboGrid(new WorkingTimesheetModel()).Setup(roboGrid =>
        {
           roboGrid.ClientId = "roboGridHistories";
           roboGrid.AddColumn(x => x.WorkingTime.Requester).HasHeaderText("Người trình ký").RenderAsHtml(x => x.WorkingTime?.Requester?.FullName).AlignCenter();
           roboGrid.AddColumn(x => x.WorkingTime.StartTime).HasHeaderText("Giờ đến");
           roboGrid.GetRecordsUrl = Url.Action("WorkingLateApprovementList", new { userId = currentUser.Id });
           roboGrid.EnableSortable = false;
           roboGrid.AddReloadEvent("RELOAD_BOOKING_HISTORIES");
        })
        </div>
    </div>
</div>