﻿@model CMS.Dashboard.Models.RequestDocumentModel
@using CMS.Shared
<div class="tab__content">
    <div>
        <div class="timeline">
            @{
                var comments = Model.RequestDocumentAssignees.Where(r => !string.IsNullOrEmpty(r.Comment) || !string.IsNullOrEmpty(r.SignatureImage)).OrderBy(x => x.Step);
                foreach (var comment in comments)
                {
                    var deplay = $"delay-{comment.Step}s";
                    <div class="timeline__event  animated fadeInUp @deplay timeline__event--type1">
                        <div class="timeline__event__icon ">
                            <i class="lni-cake"></i>
                        </div>
                        <div class="timeline__event__date">
                            @comment.UpdateDate.ToString(Constants.FullDatePattern)
                        </div>
                        <div class="timeline__event__content ">
                            <div class="timeline__event__title">
                                @comment.User?.FullName
                            </div>
                            <div class="timeline__event__description">
                                <p>@comment.Comment !</p>
                                <img src="~/SignatureImages/@comment.SignatureImage" width="300" />
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>