﻿@model CMS.Dashboard.Models.RequestDocumentModel
@using CMS.Core.Extensions

<input id="userName" type="hidden" value="@Model.User.UserName">
<input id="fullName" type="hidden" value="@Model.User.FullName">
<input id="departmentName" type="hidden" value="@Model.User.Department?.Name">
<input id="campusName" type="hidden" value="@Model.User.Campus?.Name">
<input id="employeeCode" type="hidden" value="@Model.User.EmployeeCode">
<input id="contractType" type="hidden" value="@Model.User.ContractType.GetDisplayName()">
<input id="manager" type="hidden" value="@Model.User.Managers?.FirstOrDefault()?.FullName">
<input id="htmlContent" type="hidden" value="@(Model.RequestDocument?.HtmlContent != null ? "true" : "false")">