﻿@model CMS.Dashboard.Models.RequestDocumentModel
@using CMS.Dashboard
@using CMS.Shared.Data.Domain
@using CMS.Core.Extensions
@inject WorkContext WorkContext
@{
    string jsonContent = null;

    if (Model.RequestDocument?.JsonContent?.IsNullOrEmpty() != true)
    {
        jsonContent = Model.RequestDocument?.JsonContent;
    }
    var currentUserStep = Model.CurrentStepId;
    var userId = Model.User.Id;
    var canApprove = Model.CanApprove;
    var isOnlyView = Model.RequestDocument != null && !Model.CanApprove;
    var isNewRequest = Model.RequestDocument == null;
    var url = Url.Action("SaveWorkTemplate", "RequestDocument");
    var userLogged = await WorkContext.GetCurrentUser();
    var isContinueRequest = Model.RequestDocument != null
                            && Model.RequestDocument.Status == RequestStatus.Rejected
                            && Model.RequestDocumentAssignees != null
                            && Model.RequestDocument.CreateBy == userLogged.UserName;

    if (Model.RequestDocument != null && Model.RequestDocument.Status == RequestStatus.Inprogress)
    {
        url = Url.Action("UpdateStatusWorkTemplate", "RequestDocument");
    }

    var comments = !Model.RequestDocumentAssignees.IsNullOrEmpty() ? Model.RequestDocumentAssignees?.Where(x => !x.Comment.IsNullOrEmpty() || !x.SignatureImage.IsNullOrEmpty()) : null;
    var hasComments = !comments.IsNullOrEmpty();
    var formDictionary = Model.RequestDocument?.JsonContent?.IsNullOrEmpty() == false ? Model.RequestDocument.JsonContent.JsonDeserialize<IDictionary<string, string>>() : new Dictionary<string, string>();
    string fromAbsentSession = "morning",
        toAbsentSession = "morning",
        fromNoSalarySession = "morning",
        toNoSalarySession = "morning";

    if (formDictionary.ContainsKey("from-absent-session"))
    {
        fromAbsentSession = !formDictionary["from-absent-session"].IsNullOrEmpty() ? formDictionary["from-absent-session"] : "morning";
    }
    if (formDictionary.ContainsKey("to-absent-session"))
    {
        toAbsentSession = !formDictionary["to-absent-session"].IsNullOrEmpty() ? formDictionary["to-absent-session"] : "morning";
    }
    if (formDictionary.ContainsKey("from-nosalary-session"))
    {
        fromNoSalarySession = !formDictionary["from-nosalary-session"].IsNullOrEmpty() ? formDictionary["from-nosalary-session"] : "morning";
    }
    if (formDictionary.ContainsKey("to-nosalary-session"))
    {
        toNoSalarySession = !formDictionary["to-nosalary-session"].IsNullOrEmpty() ? formDictionary["to-nosalary-session"] : "morning";
    }
}
@{
    ViewData["Title"] = Model.RequestDocument == null ? "Tạo mới văn bản" : "Phê duyệt văn bản";
}
<link rel="stylesheet" type="text/css" href="~/css/custom.css"/>
<link rel="stylesheet" type="text/css" href="~/css/checkbox-radio-btn.css"/>

<div>
    @await Html.PartialAsync("GeneralInfo", Model)
    <div class="">
        <div>
            <div class="">
                <div class="tab-wrap">
                    <input type="radio" id="tab1" name="tabGroup1" class="tab" checked="">
                    <label for="tab1">@ViewData["Title"]</label>
                    @if (hasComments)
                    {
                        <input type="radio" id="tab2" name="tabGroup1" class="tab">
                        <label for="tab2">Chữ ký và phản hồi</label>
                    }
                    <div class="tab__content">
                        <h3 class="workflow-title">@Model.Workflow.Name</h3>
                        <form id="SaveWorkTemplate" action="@url" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fb-render" id="fb-render-content" data-disable="@(Model.RequestDocument != null && Model.RequestDocument.Status != RequestStatus.Saved && !isContinueRequest)"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card render-table hide">
                                        <div class="card-body">
                                            <div id="table" class="table-editable">
                                                @if (Model.RequestDocument?.HtmlContent == null)
                                                {
                                                    <div class="action-by-table">
                                                        <span class="table-add float-right mb-3 mr-2">
                                                            <button id="addRow" class="btn" type="button">
                                                                Thêm hàng
                                                                <a href="#" class="text-success">
                                                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                                                </a>
                                                            </button>
                                                        </span>
                                                    </div>
                                                }
                                                <table class="table table-bordered table-responsive table-striped text-center define-table responsive-form tb-special">
                                                    <thead>
                                                    <tr>
                                                        @if (Model.RequestDocument?.HtmlContent == null)
                                                        {
                                                            <th class="text-center title-columns delete-col">
                                                                <div class="col-md-12">Xóa</div>
                                                            </th>
                                                        }
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot class="hide">
                                                    <tr></tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row request-footer">
                                @if (canApprove)
                                {
                                    <div class="col-md-6 col-xs-12 ">
                                        <h4 class="margin-left">Góp ý</h4>
                                        <div class="wrapper">
                                            <textarea class="form-control" rows="5" name="Comment"></textarea>
                                        </div>
                                    </div>
                                }

                                @if (isNewRequest || Model.RequestDocument.Status == RequestStatus.Saved
                                     || (canApprove && string.IsNullOrEmpty(Model.CurrentStepRequestDocumentAssignee?.SignatureImage)))
                                {
                                    <div class="col-md-4 col-xs-12 col-lg-4 signature captcha form-group">
                                        <h5 style="font-style: italic"><span class="fb-required">* </span>Chữ ký</h5>
                                        <div>
                                            <img id="captchaImage" src="" alt="captcha">
                                            <button class="btn-refresh" onclick="generateCaptchaImage();" title="Refresh captcha" type="button">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                            <input id="VerifyCaptchaCode" type="hidden" value="" name="VerifyCaptchaCode">
                                        </div>
                                        <input type="text" class="captcha-card" id="CaptchaCode" name="CaptchaCode"
                                               data-rule-captchacode="true"
                                               data-msg-captchacode="Vui lòng nhập đúng captcha!"/>
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <input type="text" hidden name="Id" value="@Model.RequestDocument?.Id"/>
                                <input type="text" hidden name="WorkflowId" value="@Model.Workflow.Id"/>
                                <input type="text" hidden name="FormTemplateId" value="@Model.Workflow.FormTemplateId"/>
                                <input name="HtmlContent" id="fb-html-content" hidden/>
                                <input name="Status" id="action-status" hidden/>
                                <input name="CurrentStepId" value="@currentUserStep" hidden/>
                                <input type="hidden" id="data-table" name="tableContent" value="">
                                <div class="col-md-3 col-sm-3 col-xs-3 ">
                                    <a href="@Url.Action("Index", "RequestDocument")" class="btn btn-warning btn-back on-desktop">
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                </div>
                                <div class="form-group col-md-9 col-sm-12 col-xs-12 text-right">
                                    @if (canApprove)
                                    {
                                        <button name="Submit" value="@RequestStatus.Rejected" class="btn btn-danger btnSave" onclick="$('#action-status').val('@RequestStatus.Rejected')" data-target="#action-status" type="submit">Từ chối</button>
                                        <button name="Submit" value="@RequestStatus.Approved" class="btn btn-success btnSend" onclick="$('#action-status').val('@RequestStatus.Approved')" data-target="#action-status" type="submit">Duyệt</button>
                                        <!-- <div class="col-md-4 col-sm-4 col-xs-4">
                                            <a href="@Url.Action("DownloadFormRequest", new {requestDocId = Model.RequestDocument?.Id, templateId = Model.Workflow.FormTemplateId})" class="btn btn-warning">Tải xuống</a>
                                        </div> -->
                                    }
                                    else if (!isOnlyView || Model.RequestDocument?.Status == RequestStatus.Saved || isContinueRequest)
                                    {
                                        <button name="Submit" value="@RequestStatus.Saved" class="btn btn-lg btn-primary btnSave" data-target="#action-status" onclick="$('#action-status').val('@RequestStatus.Saved')" type="submit">Lưu lại</button>
                                        <button name="Submit" value="@RequestStatus.Inprogress" class="btn btn-lg btn-primary btnSend" data-target="#action-status" onclick="$('#action-status').val('@RequestStatus.Inprogress')" type="submit"><i class="fa fa-send"></i> Gửi</button>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                    @if (hasComments)
                    {
                        @await Html.PartialAsync("CommentHistories", Model)
                    }
                </div>
            </div>
            <a href="@Url.Action("Index", "RequestDocument")" class="btn btn-warning back-to-home on-mobile">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <div class="hide">
        <div id="departments">
            @if (Model.RequestDocument?.HtmlContent == null)
            {
                @foreach (var department in Model.Departments)
                {
                    <option value="@department.Name">@department.Name</option>
                }
            }
        </div>

    </div>
    <input value="@(Model.RequestDocument?.HtmlContent ?? Model.FormTemplate.TemplateContents)" id="TemplateContents" hidden/>
</div>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>

@section Scripts {
    <script src="~/js/form-buider/form-builder.min.js"></script>
    <script src="~/js/form-buider/form-render.min.js"></script>
    <script src="~/js/form-buider/jquery.js"></script>
    <script src="~/js/signature_pad.min.js"></script>
    <script src="~/js/utils.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            generateCaptchaImage();

        });
        window.onload = function () {
            const $autocomplete = $('.autocomplete');
            $.validator.unobtrusive.parse(document);
            $autocomplete.select2();

            if ($('#today').length > 0) {
                let $today = $('#currentDate');
                let day = new Date().getDay(),
                    month = new Date().getMonth() + 1,
                    year = new Date().getFullYear();

                $today.removeClass('hide');
                $today.append(`<span>Hà Nội, ngày ${day} tháng ${month} năm ${year}.</span>`);
                $today.append(`<input type="hidden" name="day" value="${day}"/>`);
                $today.append(`<input type="hidden" name="month" value="${month}"/>`);
                $today.append(`<input type="hidden" name="year" value="${year}"/>`);
            }

            $autocomplete.select2();
            $('.custom-readonly').each(function () {
                $(this).prop('readonly', true);
            });

            $('.datetimepicker, .datepicker').each(function () {
                $(this).on('dp.change', function (e) {
                    e.preventDefault();
                    fillData(newTemplate);
                });
            });
            
            $('.fromDate').each(function (index, item) {
                $(this).on('dp.change', function (selected) {
                    const $toDate = $($('.toDate')[index]);
                    let minDate = new Date(selected.date.valueOf());
                    $toDate.data('DateTimePicker').minDate(minDate);
                });
            });
            
            $('.toDate').each(function(index, item) {
                $(this).on('dp.change', function(selected) {
                    const $fromDate = $($('.fromDate')[index]);
                    if (!$fromDate.data().date) {
                        let minDate = new Date(selected.date.valueOf());
                        $fromDate.data('DateTimePicker').date(minDate);
                    }
                });
            });

            $('.money').each(function () {
                $(this).parent().append('<span style="border-radius: 3px;" class="custom-money bg-primary">VNĐ</span>');
                $(this).on('keyup', () => {
                    let value = $(this).val();
                    formatPrice($(this), value);
                    fillData(newTemplate);
                });
            });

            let fromAbsentMorningChecked = '@fromAbsentSession' === 'morning' ? 'checked' : '';
            let fromAbsentAfternoonChecked = '@fromAbsentSession' === 'afternoon' ? 'checked' : '';
            let toAbsentMorningChecked = '@toAbsentSession' === 'morning' ? 'checked' : '';
            let toAbsentAfternoonChecked = '@toAbsentSession' === 'afternoon' ? 'checked' : '';
            let fromNoSalaryMorningChecked = '@fromNoSalarySession' === 'morning' ? 'checked' : '';
            let fromNoSalaryAfternoonChecked = '@fromNoSalarySession' === 'afternoon' ? 'checked' : '';
            let toNoSalaryMorningChecked = '@toNoSalarySession' === 'morning' ? 'checked' : '';
            let toNoSalaryAfternoonChecked = '@toNoSalarySession' === 'afternoon' ? 'checked' : '';

           if (fromAbsentMorningChecked !== '' && fromAbsentMorningChecked.length > 0) {
               $(".from-absent-morning").attr("checked", true);
           }

           if (fromAbsentAfternoonChecked !== '' && fromAbsentAfternoonChecked.length > 0) {
               $(".from-absent-afternoon").attr("checked", true);
           }

           if (toAbsentMorningChecked !== '' && toAbsentMorningChecked.length > 0) {
               $(".to-absent-morning").attr("checked", true);
           }

           if (toAbsentAfternoonChecked !== '' && toAbsentAfternoonChecked.length > 0) {
               $(".to-absent-afternoon").attr("checked", true);
           }

           if (fromNoSalaryMorningChecked !== '' && fromNoSalaryMorningChecked.length > 0) {
               $(".from-nosalary-morning").attr("checked", true);
           }

           if (fromNoSalaryAfternoonChecked !== '' && fromNoSalaryAfternoonChecked.length > 0) {
               $(".from-nosalary-afternoon").attr("checked", true);
           }
           if (toNoSalaryMorningChecked !== '' && toNoSalaryMorningChecked.length > 0) {
               $(".to-nosalary-morning").attr("checked", true);
           }

           if (toNoSalaryAfternoonChecked !== '' && toNoSalaryAfternoonChecked.length > 0) {
               $(".to-nosalary-afternoon").attr("checked", true);
           }

            setTimeout(function () {
                if ($('#from-absent-session').length > 0) {
                    $('input[name=from-absent-session]').on('change', function () {
                        fillData(newTemplate);
                    });

                    $('input[name=to-absent-session]').on('change', function () {
                        fillData(newTemplate);
                    });
                }
                if ($('#from-nosalary-session').length > 0) {
                    $('input[name=from-nosalary-session] input[name=to-nosalary-session]').on('change', function () {
                        fillData(newTemplate);
                    });

                    $('input[name=to-nosalary-session]').on('change', function () {
                        fillData(newTemplate);
                    });
                }

                // let fromAbsentAfternoonChecked = '@fromAbsentSession' === 'afternoon' ? 'checked' : '';
                // let toAbsentMorningChecked = '@toAbsentSession' === 'morning' ? 'checked' : '';
                // let toAbsentAfternoonChecked = '@toAbsentSession' === 'afternoon' ? 'checked' : '';
                // let fromNoSalaryMorningChecked = '@fromNoSalarySession' === 'morning' ? 'checked' : '';
                // let fromNoSalaryAfternoonChecked = '@fromNoSalarySession' === 'afternoon' ? 'checked' : '';
                // let toNoSalaryMorningChecked = '@toNoSalarySession' === 'morning' ? 'checked' : '';
                // let toNoSalaryAfternoonChecked = '@toNoSalarySession' === 'afternoon' ? 'checked' : '';

                for(let i = 1; i <= 10; i++){
                    const $time = document.getElementById(`time${i}`);
                    if($time){
                        $time.addEventListener('input', function() {
                           fillData(parseTemplate.filter(x => x.type === 'table'));
                        }, false);
                    }
                }

            }, 500);
        };

        let fbTemplate = $('#TemplateContents').val();
        // let convertFbTemplate = $('<div/>').html(fbTemplate).text();
        // console.log(convertFbTemplate);
        let hasContent = $('#htmlContent').val();
        const fbEditor = document.getElementById('fb-render-content');
        let parseTemplate = JSON.parse(fbTemplate);
        let newTemplate = parseTemplate.filter(x => x.type !== 'table');

        jQuery(function ($) {
            newTemplate.forEach(function (item) {
                if (item.name === 'creatorName' || item.name === 'user_name' || item.name === 'user_fullname'
                    || item.name === 'student_name' || item.name === 'name') {
                    item.value = $('#fullName').val();
                }
                if (item.name === 'roomName' || item.name === 'room' || item.name === 'room_name' || item.name === 'room_description' || item.name === 'purpose_room_description') {
                    item.value = $('#departmentName').val();
                }
                if (item.name === 'location' || item.name === 'parent_room') {
                    item.value = $('#campusName').val();
                }
                if (item.name === 'user_code' || item.name === 'student_code') {
                    item.value = $('#employeeCode').val();
                }
                if (item.name === 'contract_type') {
                    item.value = $('#contractType').val();
                }
                if (item.name === 'parent_user') {
                    item.value = $('#manager').val();
                }
                if (item.name === 'position' || item.name === 'user_position' || item.name === 'role_description' || item.name === 'purpose_user_position') {
                    item.value = $('#user-role').text().trim();
                }
                if (item.name === 'create_date') {
                    item.value = moment().format('DD/MM/YYYY');
                }
                if ($('#htmlContent').val() === 'false') {
                    if (item.name === 'room_description' || item.name === 'purpose_room_description') {
                        item.values = [];
                        $('#departments').children().each((i, department) => {
                            let obj = {};
                            if (i === 0) obj.selected = true;
                            obj.value = obj.label = $(department).val();
                            item.values.push(obj);
                        });
                    }
                }
            });
            setTimeout(function () {
                fillData(newTemplate);

                let formUserDataJson = $('<div/>').html('@Model.RequestDocument?.JsonContent').text();
                if (formUserDataJson) {
                    let userDataModel = JSON.parse(formUserDataJson.replace(/\n+/g, "\\r\\n"));
                    if (userDataModel) {
                        fillUserData(userDataModel);
                    }
                }
            }, 1000);

            let renderOpts =
            {
                dataType: 'json',
                formData: newTemplate,
            };

            let formRender = $(fbEditor).formRender(renderOpts);
            let tableTemplate = parseTemplate.filter(x => x.type === 'table');
            if (tableTemplate.length > 0) {
                if (tableTemplate[0].enabled) $('.render-table').removeClass('hide');
                fillDataToTable(tableTemplate[0]);
            }

            $('#SaveWorkTemplate').disableAutoFill();
            $('#SaveWorkTemplate').on('submit', function (e) {
                const self = $(this);
                let formData = self.serializeArray();
                e.preventDefault();

                if ($('#FORM_NAME').val() === "ABSENT") {
                    const $totalAbsent = $('#total_absent');
                    const $totalAbsentNoSalary = $('#total_absent_no_salary');
                    //const $totalNoSalary = $('#total_absent_no_salary');
                    let totalDay = 0;
                    let totalDayNosalary = 0;
                    if ($totalAbsent.val()) {
                        totalDay = parseFloat($totalAbsent.val());
                    }
                    if ($totalAbsentNoSalary.val()) {
                        totalDayNosalary = parseFloat($totalAbsentNoSalary.val());
                    }

                    let tblItems = $("input[name*='time']");
                    let totalDayOnTable = 0;

                    for(var i=0;i < tblItems.length;i++){
                        if (tblItems[i].value) {
                            totalDayOnTable += parseFloat(tblItems[i].value);
                        }
                    }

                    if(totalDayOnTable !== totalDay) {
                        alert('Tổng số ngày nghỉ phép không đồng nhất với dữ liệu đã nhập ở bảng loại ngày nghỉ!');
                    } else {
                        sendData(self, formData);
                    }
                } else {
                    sendData(self, formData);
                }
            });

            function sendData(form, formData, isIncludeTbl) {
                if (!validate() || !$("#CaptchaCode").valid()) {
                    return;
                }
                debugger;
                let formDataUpdate = formRender.userData;
                formDataUpdate = formDataUpdate.map((obj,c) => {
                  const { value } = c;
                  const rest = {};
                  for (const key of Object.keys(c)) {
                      if (key !== 'value') {
                          rest[key] = c[key];
                      }
                  }
                  obj[value] = obj[value] || [];
                  obj[value].push(rest);
                  return obj;
                });

                if (isIncludeTbl && isIncludeTbl === true) {
                    const table = $('#table');
                    const $rows = table.find('tbody tr:not(:hidden)');
                    const $tb_head = table.find('tr:not(:hidden)');
                    let headers = [],
                        keyHeaders = [];
                    $($tb_head.shift()).find('th:not(:empty)').each(function () {
                        let $this = $(this);
                        if (!$this.text().toLowerCase().includes('xóa')) {
                            headers.push({
                                item: $this.find('.real-name').val(),
                                key: $this.find('.key-name').val(),
                                isSum: $this.find('.key-name').data('sum'),
                            });
                            keyHeaders.push($this.find('.key-name').val());
                        }
                    });
                    let newObj = {};
                    newObj.type = 'table';
                    newObj.name = $('#TemplateName').val();
                    newObj.columns = headers;
                    newObj.rows = [];
                    newObj.enabled = true;
                    $rows.each(function () {
                        const $td = $(this).find('td');
                        let row = {};
                        keyHeaders.forEach((header, i) => row[header] = $td.eq(i).text().trim());
                        newObj.rows.push(row);
                    });

                    formDataUpdate.push(newObj);
                }

                $.each(formDataUpdate, function (e) {
                    if (this.type.includes('table')) {
                        $('#data-table').val(JSON.stringify(this.rows));
                    }
                    if (this.type.includes('checkbox') || this.type.includes('select')) {
                        let checkedList = formData.map(x => x.value);
                        $.each(this.values, function () {
                            this.selected = checkedList.includes(this.value);
                        });
                    }
                });

                $('#fb-html-content').val(JSON.stringify(formDataUpdate));

                if (confirm("Bạn muốn gửi yêu cầu duyệt văn bản ?")) {
                    $("button[name='Submit']").attr("disabled", true);
                    $.ajax({
                        type: 'POST',
                        url: $(form).attr('action'),
                        data: $(form).serializeArray(),
                        dataType: 'json',
                    }).done(function (data) {
                        if (data) {
                            if(confirm(data.message + "\nBạn muốn quay lại màn hình Duyệt văn bản ?")) {
                                window.location.href = data.redirectUrl;
                            }
                        }

                    }).fail(function (jqXHR) {
                        console.log(jqXHR);
                    });
                }
            }

            let formContent = $('#fb-render-content');
            let disable = $(formContent).attr('data-disable');
            if (disable && disable === 'True') {
                $(formContent).find('input, textarea, button, select').attr('disabled', disable);
                $(formContent).find('input[name^="accumulated"]').attr('disabled', false);

                let isApprover = '@canApprove';
                console.log(isApprover);
                if (isApprover && isApprover === 'True') {
                    $(formContent).find('input[name^="comment_main_task"]').attr('disabled', false);
                    $(formContent).find('input[name^="point_main_task"]').attr('disabled', false);
                    $(formContent).find('input[name^="point_main_task"]').attr('readonly', false);
                    $("#comment_mission").attr('disabled', false);
                    $("#comment_skill_resolve_problem").attr('disabled', false);
                    $("#comment_skill_control_progess").attr('disabled', false);
                    $("#comment_skill_cheering").attr('disabled', false);
                    $("#comment_skill_planning").attr('disabled', false);
                    $("#comment_skill_manage_system").attr('disabled', false);
                    $("#comment_skill_It").attr('disabled', false);
                    $("#comment_manners").attr('disabled', false);
                    $("#comment_morale").attr('disabled', false);
                    $("#comment_listenner").attr('disabled', false);
                    $("#comment_study").attr('disabled', false);
                    $("#comment_team_work").attr('disabled', false);
                    $("#comment_passion").attr('disabled', false);
                    $("#comment_join").attr('disabled', false);
                    $("#point_mission").attr('readonly', false);
                    $("#point_skill_resolve_problem").attr('readonly', false);
                    $("#point_skill_planning").attr('readonly', false);
                    $("#point_skill_control_progess").attr('readonly', false);
                    $("#point_skill_cheering").attr('readonly', false);
                    $("#point_skill_manage_system").attr('readonly', false);
                    $("#point_skill_It").attr('readonly', false);
                    $("#point_manners").attr('readonly', false);
                    $("#point_morale").attr('readonly', false);
                    $("#point_listenner").attr('readonly', false);
                    $("#point_study").attr('readonly', false);
                    $("#point_team_work").attr('readonly', false);
                    $("#point_passion").attr('readonly', false);
                    $("#point_join").attr('readonly', false);


                    $("#point_mission").attr('disabled', false);
                    $("#point_skill_resolve_problem").attr('disabled', false);
                    $("#point_skill_planning").attr('disabled', false);
                    $("#point_skill_control_progess").attr('disabled', false);
                    $("#point_skill_cheering").attr('disabled', false);
                    $("#point_skill_manage_system").attr('disabled', false);
                    $("#point_skill_It").attr('disabled', false);
                    $("#point_manners").attr('disabled', false);
                    $("#point_morale").attr('disabled', false);
                    $("#point_listenner").attr('disabled', false);
                    $("#point_study").attr('disabled', false);
                    $("#point_team_work").attr('disabled', false);
                    $("#point_passion").attr('disabled', false);
                    $("#point_join").attr('disabled', false);

                    $(".custom-disabled").attr('disabled', false);
                }
            }

            if ($('#app-for-leave').length > 0) {
                $('.table-editable table').addClass('tb-special');
            }
        });

        function generateCaptcha() {
            $('#captchaImage').prop('src', '/request-document/get-captcha');
            setTimeout(function () {
                $.get('/request-document/get-captcha-code', x => {
                    $('#VerifyCaptchaCode').val(x);
                });
            }, 500);
        }

        function generateCaptchaImage() {
            var shouldGenerate = '@isNewRequest' || '@canApprove';
            console.log('shouldGenerate = ' + shouldGenerate);
            if (shouldGenerate || shouldGenerate === 'True') {
                var codes = getRandomCode();
                console.log('captcha code = ' + codes);
                setTimeout(function () {
                    $.get('/request-document/generate-captcha-img/' + codes, x => {
                        $('#captchaImage').prop('src', x);
                        $('#VerifyCaptchaCode').val(codes);
                    });
                }, 500);
            }
        }
    </script>}